/* custom variables */
:root {
    /* beachbite colors */
    --cinder: #08090e;
    --veniceBlue: #055c94;
    --tiara: #c6ccce;
    --hippieBlue: #6297b7;

    /* dosrocas colors */
    --shuttleGray: #525e64;
    --brightSun: #f8d343;
    --twine: #c3a159;
    --silverSand: #b2babd;
}